#logo {
  font-family: 'Sacramento', cursive;
  font-size: xx-large;
  color: white;
  margin-left: 10%;
}

.right-20 {
  margin-right: 20%;
}

.nav-item {
  .nav-link {
    color: white;
    &:hover {
      color: white;
      opacity: 0.5;
    }
  }
}

.navbar-text {
  margin-right: 5%;
}

nav.navbar {
  height: 80px;
//   .nav-link {
//     color: white;
//     // margin-left: -5px;
//     &:hover {
//       color: white;
//     }
//   }
}

.flex {
  display: flex;
  margin-right: 10%;
}

.main {
  margin-top: 80px;
}

.secondary {
  color: #6c757d;
}

.white {
  color: white;
}

.center-middle {
  text-align: center;
  vertical-align: middle;
}

.btn-close {
  float: right;
  margin: 15px;
}

.d-md-flex {
  margin: 15px;
}

.container {
  position: relative;
  padding-top: 4rem;
}

.to_intro {
  position: fixed;
  left: 5%;
  bottom: 5%;
}



.debug_dump {
  // clear: both;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

