// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
  list-style: none;
  color: red;
  text-align: center;
}

.login-email {
  padding-bottom: 25px;
}

.login-line {
  padding-top: 15px;
  // padding-left: 140px;
}

.login-google {
  padding-top: 5px;
  // padding-left: 140px;
}

.form-control {
  margin-bottom: 5px;
}

.modal {
  margin-top: 5%;
}

