.logo {
  font-family: 'Sacramento', cursive;
}

.or {
  margin: 5px 0px;
  // margin-left: -20%;
}

.modal {
  margin-top: 5%;
}

.left {
  text-align: center;
  padding-top: 8%;
}

.right {
  padding-top: 3%;
}

.btn {
  margin-bottom: 5px;
}

