.logo {
  font-family: 'Sacramento', cursive;
}

.span {
  display: inline-block;
}

.or {
  margin: 5px 0px;
  // margin-left: -20%;
}

#login {
  margin-top: 5%;
}

.left {
  text-align: center;
  padding-top: 8%;
}

.right {
  padding-top: 3%;
}

.btn {
  margin-bottom: 5px;
}

.modal.intro {
  margin-top: 5%;
}

.image {
  padding-bottom: 20px;
  height: 70%;
  width: 60%;
}

.modal-body {
  padding-top: -100px;
}

.carousel-caption {
  #logo {
    color: #6C757D;
    // color: red;
  }
  h5, p{
    color: #6C757D;
    // color: red;
    text-shadow: 3px  3px 10px white,
                  -3px  3px 10px white,
                  3px -3px 10px white,
                  -3px -3px 10px white;
  }
  p {
    padding: 6px 0;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
  }
  h3 {
    margin-right: 10%;
  }
}

.carousel-indicators {
  button {
    margin-bottom: 20px;
  }
}