.logo {
  font-family: 'Sacramento', cursive;
}

.or {
  margin: 5px 0px;
  // margin-left: -20%;
}

.modal {
  margin-top: 5%;
}

.left {
  text-align: center;
  padding-top: 8%;
}

.right {
  padding-top: 3%;
}

.btn {
  margin-bottom: 5px;
}

.to_intro {
  position: fixed;
  left: 5%;
  bottom: 5%;
}

.intro-modal {
  height: 100px;
  width: 80px;
}

.image {
  padding: 20px;
  height: 70%;
  width: 70%;
}


