:root {
  --time-div-height: 8px;
}

.time-boxing {
  position: relative;
  width: 100%;
  height: 100%;
}

.now-line {
  color: #6c757d;
  display: flex;
  position: absolute;
  align-items: center;
  width: 86%;
  height: var(--time-div-height);
  // border: red solid 1px;
  padding-left:  14%;
}
.now-line:after {
  border: #6c757d solid 1px;
  content: "";
  flex-grow: 1;
  margin-left: 10px;
}

.task {
  // .task-delete {
  color: white;
  position: absolute;
  border: #6c757d solid;
  width: 40%;
  // height: calc(100% - 74px);
  // height: auto;
  background-color: #6c757d;
  opacity: 0.7;
  // margin-left: 35%;
  left: 36%;
  // padding: 30px 50px;
  border: white solid 1px;
  border-radius: 50px;
  padding: 20px 0;
  z-index: 1;
}

div.badge {
  position: absolute;
  left: 71%;
  z-index: 2;
  // border: white solid;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  border: white solid;
  border-radius: 50%;
  color: white;
  font-size: x-large;
  &:hover:before, &:hover:after {
    background: #6c757d;
  }
}
.delete-btn:before, .delete-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 18px;
  background: white;
  border-radius: 2.5px;
}

.delete-btn::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.delete-btn::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.delete-btn:hover {
  color: #6c757d;
  background: #6c757d;
  background-color: white;
}

.task-form {
  padding: 20px;
  z-index: 100;
}

.overflow {
  overflow: scroll;
}

.sticky {
  position: sticky;
  top: 80px;
}

.task-title {
  display: inline;
  // padding-top: 20px;
  // padding-left: 50px;
  margin-top: 20px;
  margin-left: 50px;
}

.time-range {
  display: inline;
  // padding-left: 30px;
  margin-left: 30px;
}

.memo {
  padding: 10px 0;
  padding-left: 40px;
}

.btn-secondary {
  opacity: 2;
}

.axis {
  position: absolute;
  border-right: #6c757d solid 5px;
  margin-left: 25%;
  // height: calc(100% - 74px);
  height: 100%;
}

.time {
  vertical-align: middle;
  padding: 10% 15%;
}

.hour {
  display: flex;
  align-items: center;
  // border: #6c757d solid 1px;
}
.hour:after {
  border: #6c757d dashed 1px;
  content: "";
  flex-grow: 1;
  margin-left: 10px;
}

.minute {
  // opacity: 0.5;
  // border: #6c757d solid 1px;
}

[class^="dhm_"] {
  height: var(--time-div-height);
}

.today-view {
  position: fixed;
  left: 5%;
  top: 10%;
}

.prev {
  position: fixed;
  left: 5%;
  top: 50%;
}

.next {
  position: fixed;
  right: 5%;
  top: 50%;
}

.addtask {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.mail {
  position: fixed;
  right: 5%;
  top: 10%;
}

.modal {
  margin-top: 1%;
}

.regist-form {
  margin: 20px 0;
}

.registration {
  padding-top: 5%;
}

.footer {
  // position: fixed;
  position: absolute;
  right: 10%;
  bottom: 0;
}

